USE [master]
GO
/****** Object:  Database [Wuyi]    Script Date: 2025/10/5 19:35:38 ******/
CREATE DATABASE [Wuyi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wuyi', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Wuyi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Wuyi_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Wuyi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wuyi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wuyi]
GO
/****** Object:  Table [dbo].[Merchant]    Script Date: 2025/10/5 19:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchant](
	[merchant_name] [varchar](50) NOT NULL,
	[merchant_password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[merchant_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2025/10/5 19:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[work_id] [int] NOT NULL,
	[buyer_name] [varchar](5) NOT NULL,
	[buyer_phonenumber] [char](11) NOT NULL,
	[trading_address] [varchar](80) NOT NULL,
	[trading_time] [varchar](16) NOT NULL,
	[order_id] [varchar](7) NOT NULL,
	[order_time] [varchar](19) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trade]    Script Date: 2025/10/5 19:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trade](
	[trade_id] [varchar](20) NOT NULL,
	[order_id] [varchar](7) NOT NULL,
	[work_id] [int] NOT NULL,
	[work_status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[trade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Works]    Script Date: 2025/10/5 19:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Works](
	[work_name] [varchar](100) NOT NULL,
	[work_id] [int] IDENTITY(1001,1) NOT NULL,
	[work_description] [text] NULL,
	[work_image] [varchar](255) NOT NULL,
	[work_price] [varchar](20) NOT NULL,
	[work_status] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Merchant] ([merchant_name], [merchant_password]) VALUES (N'wuyi', N'wuyi123')
GO

/****** Object:  Index [UK_Trade_Order]    Script Date: 2025/10/5 19:35:39 ******/
ALTER TABLE [dbo].[Trade] ADD  CONSTRAINT [UK_Trade_Order] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([work_id])
REFERENCES [dbo].[Works] ([work_id])
GO
ALTER TABLE [dbo].[Trade]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Reservation] ([order_id])
GO
ALTER TABLE [dbo].[Trade]  WITH CHECK ADD FOREIGN KEY([work_id])
REFERENCES [dbo].[Works] ([work_id])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD CHECK  (([buyer_phonenumber] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD CHECK  (([order_id] like 'DD[0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD CHECK  (([order_time] like '[0-9][0-9][0-9][0-9]-[0-1][0-9]-[0-3][0-9] [0-2][0-9]:[0-5][0-9]:[0-5][0-9]'))
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD CHECK  (([trading_time] like '[0-9][0-9][0-9][0-9]-[0-1][0-9]-[0-3][0-9] [0-2][0-9]:[0-5][0-9]'))
GO
ALTER TABLE [dbo].[Works]  WITH CHECK ADD CHECK  (([work_status]='sold' OR [work_status]='frozen' OR [work_status]='available'))
GO
USE [master]
GO
